body {
  background: url("../image/background.jpg") center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.barra {
	font-family: arial;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
	display: block;
	background:#333;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	 left: 50%;
	margin-left: -100px; /* A metade de sua largura. */
	position: absolute;
	width: 300px; 
}
tr {
	color: white;
	font-weight: bold;
	border-radius:7px;
	text-decoration:none;

}
a:link {
   color: white;
   text-decoration:none;

}
a:visited {
    color: white;
	text-decoration:none;
}
a:hover {
    color: #000000;
	text-decoration:none;
}
a:active {
    color: blue;
	text-decoration:none;
}
Div.blocktext {
    margin:0 auto;
	left: 50%;
	background-image:url("../image/bg-nav.jpg");
	background-repeat: no-repeat;
	margin-right: 50%;
	margin-left: -150px;
	font-weight: bold;
	margin-top:15%;
	border: 1px solid black;
	text-align: center;
	color: white;
	width:400px;
	position: absolute;
}